<h1>Student Directory</h1>

<ul>
	<li><%= link_to "Greg Pfeffer", student_path("greg_pfeffer")%></li>
	<li><%= link_to "Jorge Polanco", student_path("jorge_polanco")%></li>
	<li><%= link_to "Matt Larsh", student_path("matt_larsh")%></li>
</ul>